kestra/flows/main_prod_source_.yml
id: source_
namespace: prod

inputs:

  - id: start_date
    type: DATE
    defaults: "2012-01-01"

  - id: end_date
    type: DATE
    defaults: "2025-12-31"

  - id: project
    type: STRING
    defaults: san-cycles-data-pipe

  - id: location
    type: STRING
    defaults: asia-southeast1


tasks:

  - id: uv_sync
    type: io.kestra.plugin.scripts.python.Commands
    containerImage: python:3.13-slim
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - cd /workspace/kestra && uv sync

  - id: discover
    type: io.kestra.plugin.scripts.python.Commands
    containerImage: python:3.13-slim
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    env:
      GCP_SERVICE_ACCOUNT: "{{ secret('GCP_SERVICE_ACCOUNT') }}"
    commands:
      - cd /workspace/kestra && uv run python/discover.py --start-date {{inputs.start_date}} --end-date {{inputs.end_date}}

  - id: get_root_files
    type: io.kestra.plugin.gcp.bigquery.Query
    serviceAccount: "{{ secret('GCP_SERVICE_ACCOUNT') }}"
    projectId: "{{ inputs.project }}"
    location: "{{ inputs.location }}"
    sql: |
      SELECT root_file
      FROM `{{ inputs.project }}.source.metadata`
      GROUP BY root_file
      ORDER BY MIN(last_modified) ASC
    fetchType: FETCH


  - id: process_each
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ outputs.get_root_files.rows | jq('.[].root_file') }}"
    concurrencyLimit: 8
    tasks:
    
      - id: download
        type: io.kestra.plugin.scripts.python.Commands
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        commands:
          - cd /workspace/kestra/python && uv run python download.py --root-file "{{ taskrun.value }}"

      - id: unzip
        type: io.kestra.plugin.scripts.python.Commands
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        commands:
          - cd /workspace/kestra/python && uv run python unzip.py --root-file "{{ taskrun.value }}"

      - id: make-parquet
        type: io.kestra.plugin.scripts.python.Commands
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        env:
          GCP_SERVICE_ACCOUNT: "{{ secret('GCP_SERVICE_ACCOUNT') }}"
        commands:
          - cd /workspace/kestra/python && uv run python make-parquet.py --root-file "{{ taskrun.value }}"


  - id: list_files
    type: io.kestra.plugin.fs.local.List
    from: /workspace/kestra/data/parquet
    maxFiles: 1000

  - id: upload_each
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ outputs.list_files.files | jq('.[].name') }}"
    concurrencyLimit: 8
    tasks:
      - id: upload
        type: io.kestra.plugin.scripts.python.Commands
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        env:
          GCP_SERVICE_ACCOUNT: "{{ secret('GCP_SERVICE_ACCOUNT') }}"
        commands:
          - cd /workspace/kestra/python && uv run python upload-parquet.py --filename "{{ taskrun.value }}"